Fase2/WebSite1/App_WebReferences/serverquetzalexpress/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginempleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginempleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginempleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logincliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginclienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="codigousuario">
        <s:complexType />
      </s:element>
      <s:element name="codigousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigousuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculocosto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="porcentaje" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculocostoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculocostoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="loginempleadoSoapIn">
    <wsdl:part name="parameters" element="tns:loginempleado" />
  </wsdl:message>
  <wsdl:message name="loginempleadoSoapOut">
    <wsdl:part name="parameters" element="tns:loginempleadoResponse" />
  </wsdl:message>
  <wsdl:message name="loginclienteSoapIn">
    <wsdl:part name="parameters" element="tns:logincliente" />
  </wsdl:message>
  <wsdl:message name="loginclienteSoapOut">
    <wsdl:part name="parameters" element="tns:loginclienteResponse" />
  </wsdl:message>
  <wsdl:message name="guardarSoapIn">
    <wsdl:part name="parameters" element="tns:guardar" />
  </wsdl:message>
  <wsdl:message name="guardarSoapOut">
    <wsdl:part name="parameters" element="tns:guardarResponse" />
  </wsdl:message>
  <wsdl:message name="codigousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:codigousuario" />
  </wsdl:message>
  <wsdl:message name="codigousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:codigousuarioResponse" />
  </wsdl:message>
  <wsdl:message name="calculocostoSoapIn">
    <wsdl:part name="parameters" element="tns:calculocosto" />
  </wsdl:message>
  <wsdl:message name="calculocostoSoapOut">
    <wsdl:part name="parameters" element="tns:calculocostoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginempleado">
      <wsdl:input message="tns:loginempleadoSoapIn" />
      <wsdl:output message="tns:loginempleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <wsdl:input message="tns:loginclienteSoapIn" />
      <wsdl:output message="tns:loginclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <wsdl:input message="tns:guardarSoapIn" />
      <wsdl:output message="tns:guardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <wsdl:input message="tns:codigousuarioSoapIn" />
      <wsdl:output message="tns:codigousuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <wsdl:input message="tns:calculocostoSoapIn" />
      <wsdl:output message="tns:calculocostoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginempleado">
      <soap:operation soapAction="http://tempuri.org/loginempleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <soap:operation soapAction="http://tempuri.org/logincliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <soap:operation soapAction="http://tempuri.org/guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <soap:operation soapAction="http://tempuri.org/codigousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <soap:operation soapAction="http://tempuri.org/calculocosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginempleado">
      <soap12:operation soapAction="http://tempuri.org/loginempleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <soap12:operation soapAction="http://tempuri.org/logincliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <soap12:operation soapAction="http://tempuri.org/guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <soap12:operation soapAction="http://tempuri.org/codigousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <soap12:operation soapAction="http://tempuri.org/calculocosto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:2579/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:2579/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>