Fase3/WebSite1/App_WebReferences/serverquetzalexpress/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginEmpleadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logincliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginclienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="codigousuario">
        <s:complexType />
      </s:element>
      <s:element name="codigousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigousuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="coddepto">
        <s:complexType />
      </s:element>
      <s:element name="coddeptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="coddeptoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="codsucursal">
        <s:complexType />
      </s:element>
      <s:element name="codsucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codsucursalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verpuesto">
        <s:complexType />
      </s:element>
      <s:element name="verpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verpuestoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculocosto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="porcentaje" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculocostoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculocostoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargaCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargaCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargaCSVResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerificarDepto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depton" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarDeptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarDeptoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sucur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarSucursalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginEmpleado" />
  </wsdl:message>
  <wsdl:message name="LoginEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="loginclienteSoapIn">
    <wsdl:part name="parameters" element="tns:logincliente" />
  </wsdl:message>
  <wsdl:message name="loginclienteSoapOut">
    <wsdl:part name="parameters" element="tns:loginclienteResponse" />
  </wsdl:message>
  <wsdl:message name="guardarSoapIn">
    <wsdl:part name="parameters" element="tns:guardar" />
  </wsdl:message>
  <wsdl:message name="guardarSoapOut">
    <wsdl:part name="parameters" element="tns:guardarResponse" />
  </wsdl:message>
  <wsdl:message name="codigousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:codigousuario" />
  </wsdl:message>
  <wsdl:message name="codigousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:codigousuarioResponse" />
  </wsdl:message>
  <wsdl:message name="coddeptoSoapIn">
    <wsdl:part name="parameters" element="tns:coddepto" />
  </wsdl:message>
  <wsdl:message name="coddeptoSoapOut">
    <wsdl:part name="parameters" element="tns:coddeptoResponse" />
  </wsdl:message>
  <wsdl:message name="codsucursalSoapIn">
    <wsdl:part name="parameters" element="tns:codsucursal" />
  </wsdl:message>
  <wsdl:message name="codsucursalSoapOut">
    <wsdl:part name="parameters" element="tns:codsucursalResponse" />
  </wsdl:message>
  <wsdl:message name="verpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:verpuesto" />
  </wsdl:message>
  <wsdl:message name="verpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:verpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="calculocostoSoapIn">
    <wsdl:part name="parameters" element="tns:calculocosto" />
  </wsdl:message>
  <wsdl:message name="calculocostoSoapOut">
    <wsdl:part name="parameters" element="tns:calculocostoResponse" />
  </wsdl:message>
  <wsdl:message name="CargaCSVSoapIn">
    <wsdl:part name="parameters" element="tns:CargaCSV" />
  </wsdl:message>
  <wsdl:message name="CargaCSVSoapOut">
    <wsdl:part name="parameters" element="tns:CargaCSVResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarDeptoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarDepto" />
  </wsdl:message>
  <wsdl:message name="VerificarDeptoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarDeptoResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarSucursal" />
  </wsdl:message>
  <wsdl:message name="VerificarSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarSucursalResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginEmpleado">
      <wsdl:input message="tns:LoginEmpleadoSoapIn" />
      <wsdl:output message="tns:LoginEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <wsdl:input message="tns:loginclienteSoapIn" />
      <wsdl:output message="tns:loginclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <wsdl:input message="tns:guardarSoapIn" />
      <wsdl:output message="tns:guardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <wsdl:input message="tns:codigousuarioSoapIn" />
      <wsdl:output message="tns:codigousuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="coddepto">
      <wsdl:input message="tns:coddeptoSoapIn" />
      <wsdl:output message="tns:coddeptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="codsucursal">
      <wsdl:input message="tns:codsucursalSoapIn" />
      <wsdl:output message="tns:codsucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verpuesto">
      <wsdl:input message="tns:verpuestoSoapIn" />
      <wsdl:output message="tns:verpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <wsdl:input message="tns:calculocostoSoapIn" />
      <wsdl:output message="tns:calculocostoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargaCSV">
      <wsdl:input message="tns:CargaCSVSoapIn" />
      <wsdl:output message="tns:CargaCSVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDepto">
      <wsdl:input message="tns:VerificarDeptoSoapIn" />
      <wsdl:output message="tns:VerificarDeptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarSucursal">
      <wsdl:input message="tns:VerificarSucursalSoapIn" />
      <wsdl:output message="tns:VerificarSucursalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginEmpleado">
      <soap:operation soapAction="http://tempuri.org/LoginEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <soap:operation soapAction="http://tempuri.org/logincliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <soap:operation soapAction="http://tempuri.org/guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <soap:operation soapAction="http://tempuri.org/codigousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="coddepto">
      <soap:operation soapAction="http://tempuri.org/coddepto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codsucursal">
      <soap:operation soapAction="http://tempuri.org/codsucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verpuesto">
      <soap:operation soapAction="http://tempuri.org/verpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <soap:operation soapAction="http://tempuri.org/calculocosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaCSV">
      <soap:operation soapAction="http://tempuri.org/CargaCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDepto">
      <soap:operation soapAction="http://tempuri.org/VerificarDepto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSucursal">
      <soap:operation soapAction="http://tempuri.org/VerificarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginEmpleado">
      <soap12:operation soapAction="http://tempuri.org/LoginEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logincliente">
      <soap12:operation soapAction="http://tempuri.org/logincliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardar">
      <soap12:operation soapAction="http://tempuri.org/guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codigousuario">
      <soap12:operation soapAction="http://tempuri.org/codigousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="coddepto">
      <soap12:operation soapAction="http://tempuri.org/coddepto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codsucursal">
      <soap12:operation soapAction="http://tempuri.org/codsucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verpuesto">
      <soap12:operation soapAction="http://tempuri.org/verpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculocosto">
      <soap12:operation soapAction="http://tempuri.org/calculocosto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaCSV">
      <soap12:operation soapAction="http://tempuri.org/CargaCSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDepto">
      <soap12:operation soapAction="http://tempuri.org/VerificarDepto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSucursal">
      <soap12:operation soapAction="http://tempuri.org/VerificarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:2579/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:2579/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>